<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pn.torn.goldeneye.repository.mapper.torn.TornAttackLogMapper">
    <!-- 统计指定时间窗口的玩家数据 -->
    <select id="queryPlayerAttackStat" resultType="pn.torn.goldeneye.repository.model.torn.PlayerAttackStatDO">
        WITH qualified_windows AS (
            SELECT
                date_bin(
                        (#{windowMinutes} || ' minutes')::INTERVAL,
                        attack_end_time,
                        TIMESTAMP '2000-01-01 00:00:00'
                ) AS window_start
            FROM torn_faction_attack
            WHERE deleted = 0
              AND attack_end_time BETWEEN #{startTime} AND #{endTime}
            GROUP BY window_start
            HAVING COUNT(*) >= #{minBattleCount}
        ),
             qualified_attacks AS (
                 SELECT
                     fa.attack_user_id,
                     fa.attack_user_nickname,
                     fa.attack_result,
                     fa.defend_user_online_status,
                     fa.defender_elo,
                     fa.attack_log_id,
                     fa.attack_start_time,
                     fa.attack_end_time,
                     EXTRACT(EPOCH FROM (fa.attack_end_time - fa.attack_start_time))::INTEGER AS combat_duration,
                     qw.window_start
                 FROM torn_faction_attack fa
                 INNER JOIN qualified_windows qw ON
                     date_bin(
                             (#{windowMinutes} || ' minutes')::INTERVAL,
                             fa.attack_end_time,
                             TIMESTAMP '2000-01-01 00:00:00'
                     ) = qw.window_start
                 WHERE fa.deleted = 0
                   AND fa.attack_faction_id = #{factionId}
                   AND fa.defend_faction_id = #{opponentFactionId}
                   AND fa.attack_end_time BETWEEN #{startTime} AND #{endTime}
             ),
             player_attack_stats AS (
                 SELECT
                     attack_user_id,
                     attack_user_nickname,
                     COUNT(*) AS total_attacks,
                     COUNT(CASE WHEN attack_result = 'Hospitalized' THEN 1 END) AS hosp_count,
                     COUNT(CASE WHEN attack_result IN ('Attacked', 'Special', 'Arrested', 'Mugged') THEN 1 END) AS leave_count,
                     COUNT(CASE WHEN attack_result = 'Assist' THEN 1 END) AS assist_count,
                     COUNT(CASE WHEN attack_result IN ('Lost', 'Escape', 'Timeout', 'Stalemate', 'Interrupted') THEN 1 END) AS lost_count,
                     SUM(combat_duration) AS total_combat_duration,
                     ROUND(AVG(combat_duration), 2) AS avg_combat_duration,
                     COUNT(CASE WHEN defend_user_online_status = 'Online' THEN 1 END) AS online_opponent_count,
                     ROUND(AVG(CASE WHEN defender_elo IS NOT NULL THEN defender_elo END), 2) AS avg_opponent_elo
                 FROM qualified_attacks
                 GROUP BY attack_user_id, attack_user_nickname
             ),
             log_stats AS (
                 SELECT
                     al.attacker_id AS attack_user_id,
                     COUNT(CASE WHEN al.log_action IN ('busy', 'critical hit', 'hit', 'missed', 'onItemUseEff', 'reload', 'specialTemp', 'specialTempI', 'won')
                                THEN al.id
                           END) AS total_rounds,
                     COALESCE(SUM(al.damage), 0) AS damage_dealt,
                     COALESCE(SUM(CASE WHEN al.defender_elo IS NOT NULL AND al.defender_elo > 0
                                  THEN ((al.defender_elo - 1000) / 1000.0) * al.damage
                                  ELSE 0
                                  END), 0) AS damage_score,
                     COUNT(CASE WHEN al.syringe_type IS NOT NULL THEN 1 END) AS syringe_used,
                     COUNT(CASE WHEN al.ammo_type IS NOT NULL THEN al.log_id END) AS special_ammo_rounds,
                     COUNT(CASE WHEN al.attacker_item_name IN ('Smoke Grenade', 'Flash Grenade', 'Tear Gas', 'Pepper Spray')
                                THEN 1
                           END) AS debuff_temp_count
                 FROM torn_attack_log al
                 INNER JOIN qualified_windows qw ON
                     date_bin(
                         (#{windowMinutes} || ' minutes')::INTERVAL,
                         al.log_time,
                         TIMESTAMP '2000-01-01 00:00:00'
                     ) = qw.window_start
                 WHERE al.deleted = 0 AND al.attacker_id IN (SELECT DISTINCT attack_user_id FROM qualified_attacks)
                     AND al.log_time BETWEEN #{startTime} AND #{endTime}
                 GROUP BY al.attacker_id
             ),
             defender_stats AS (
                 SELECT
                     al.defender_id AS attack_user_id,
                     COALESCE(SUM(al.damage), 0) AS damage_taken
                 FROM torn_attack_log al
                 INNER JOIN qualified_windows qw ON
                 date_bin(
                     (#{windowMinutes} || ' minutes')::INTERVAL,
                     al.log_time,
                     TIMESTAMP '2000-01-01 00:00:00'
                 ) = qw.window_start
             WHERE al.deleted = 0 AND al.defender_id IN (SELECT DISTINCT attack_user_id FROM qualified_attacks)
                 AND al.log_time BETWEEN #{startTime} AND #{endTime}
             GROUP BY al.defender_id
             )
        SELECT
            pas.attack_user_id AS user_id,
            pas.attack_user_nickname AS nickname,
            pas.total_attacks,
            pas.hosp_count,
            pas.leave_count,
            pas.assist_count,
            pas.lost_count,
            pas.total_combat_duration,
            pas.avg_combat_duration,
            pas.online_opponent_count,
            pas.avg_opponent_elo,
            COALESCE(ls.total_rounds, 0) AS total_rounds,
            COALESCE(ls.damage_dealt, 0) AS damage_dealt,
            COALESCE(ds.damage_taken, 0) AS damage_taken,
            COALESCE(ls.damage_score, 0) AS damage_score,
            COALESCE(ls.syringe_used, 0) AS syringe_used,
            COALESCE(ls.special_ammo_rounds, 0) AS special_ammo_rounds,
            COALESCE(ls.debuff_temp_count, 0) AS debuff_temp_count
        FROM player_attack_stats pas
        LEFT JOIN log_stats ls ON pas.attack_user_id = ls.attack_user_id
        LEFT JOIN defender_stats ds ON pas.attack_user_id = ds.attack_user_id
        ORDER BY COALESCE(ls.damage_score, 0) DESC
    </select>

    <!-- 统计指定时间的物品数据 -->
    <select id="queryPlayerAttackItem" resultType="pn.torn.goldeneye.repository.model.torn.PlayerAttackItemDO">
        SELECT al.attacker_item_name, COUNT(*) AS num
        FROM torn_attack_log al
        INNER JOIN torn_user u ON al.attacker_id = u.id AND u.faction_id = #{factionId}
        WHERE al.log_time BETWEEN #{startTime} AND #{endTime}
            AND attacker_item_name IN ('Epinephrine', 'Melatonin', 'Serotonin', 'Tyrosine')
        GROUP BY al.attacker_item_name;
    </select>
</mapper>