<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pn.torn.goldeneye.repository.mapper.torn.stocks.portfolio.TornStockStrategyFeature15mMapper">
    <!-- 按bar开始时间批量查询全部股票特征 -->
    <select id="selectByBarStartTime" resultType="pn.torn.goldeneye.repository.model.torn.stocks.portfolio.TornStockStrategyFeature15mDO">
        SELECT * FROM torn_stock_strategy_feature_15m
        WHERE bar_start_time = #{barStartTime}
          AND deleted = 0
    </select>

    <!-- 查询指定股票在指定时间及之前的最新特征 -->
    <select id="selectLatestByStocksIds" resultType="pn.torn.goldeneye.repository.model.torn.stocks.portfolio.TornStockStrategyFeature15mDO">
        SELECT * FROM torn_stock_strategy_feature_15m
        WHERE deleted = 0
          AND bar_start_time <![CDATA[<=]]> #{maxBarStartTime}
          AND stocks_id IN
        <foreach collection="stocksIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY stocks_id, bar_start_time DESC
    </select>
</mapper>
