<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pn.torn.goldeneye.repository.mapper.torn.stocks.portfolio.TornStockMarketBar15mMapper">
    <!-- 按bar开始时间批量查询全部股票bar -->
    <select id="selectByBarStartTime" resultType="pn.torn.goldeneye.repository.model.torn.stocks.portfolio.TornStockMarketBar15mDO">
        SELECT * FROM torn_stock_market_bar_15m
        WHERE bar_start_time = #{barStartTime}
          AND deleted = 0
    </select>
</mapper>
