spring:
  application:
    name: golden-eye
  datasource:
    url: jdbc:postgresql://localhost:14321/golden-eye
    username: postgres
    password: 1qazXSW@
    driver-class-name: org.postgresql.Driver

loki:
  url: http://localhost:13131/loki/api/v1/push

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
  type-aliases-package: pn.torn.goldeneye.repository.model

bot:
  server:
    addr: 127.0.0.1
    port:
      http: 23000
      socket: 23001
    token: 1qazXSW@3edc

lark-suite:
  app-id: ${LARK_APP_ID}
  app-secret: ${LARK_APP_SECRET}
  bit-table:
    - name: oc_benefit
      app-token: ${LARK_OC_BENEFIT_APP_TOKEN}
      table-id: ${LARK_OC_BENEFIT_TABLE_ID}
      view-id: ${LARK_OC_BENEFIT_VIEW_ID}
    - name: auction
      app-token: ${LARK_AUCTION_APP_TOKEN}

project:
  env: dev
  groupId: 782024117
  adminId:
    - 408114278